version: "3.9"

services:
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123

  presto-coordinator:
    image: ${DOCKER_REGISTRY:-prestodb}/presto:${PRESTO_VERSION:-0.296}
    volumes:
      - ./presto/coordinator/config.properties:/opt/presto-server/etc/config.properties
      - ./presto/coordinator/node.properties:/opt/presto-server/etc/node.properties
      - ./presto/catalog:/opt/presto-server/etc/catalog
    depends_on:
      - minio

  presto-cpp-worker:
    image: ${DOCKER_REGISTRY:-prestodb}/presto-native:${PRESTO_VERSION:-0.296}
    volumes:
      - ./presto/worker:/opt/presto-server/etc
      - ./presto/catalog:/opt/presto-server/etc/catalog
    depends_on:
      - presto-coordinator

  init-job:
    image: eclipse-temurin:17-jre-jammy
    environment:
      PRESTO_VERSION: ${PRESTO_VERSION:-0.296}
    depends_on:
      - minio
      - presto-coordinator
      - presto-cpp-worker
    volumes:
      - ./entrypoint.sh:/entrypoint.sh
      - ./tests:/tests
    entrypoint: ["/bin/bash", "/entrypoint.sh"]
